@import "./modus-vivendi.css";

* {
    font-family: monospace;
    font-weight: normal;
    font-size: 11pt;
    border: none;
    border-radius: 0px;
    min-height: 0;
}

window#waybar {
    background-color: @bg-main;
    color: @fg-dim;
    border-top: 1px solid @border;
    /* border-left: 1px solid @border; */
    /* border-right: 1px solid @border; */
    /* border-bottom: 1px solid @border; */
    /* border-radius: 4px; */
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: @bg-dim;
    border: 1px solid @border;
    margin-right: 0.55em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#workspaces button {
    color: @fg-dim;
    padding: 0.3em 0.65em;
}

#workspaces button.active {
    background-color: @bg-mode-line-active;
    color: @green-warmer;
}

#workspaces button.visible {
    background-color: @bg-mode-line-active;
    color: @yellow-warmer;
}

#workspaces button.empty {
    background-color: @bg-mode-line-active;
    color: @green-warmer;
}

#workspaces button.urgent {
    background-color: @red-warmer;
    color: @fg-main;
    color: @fg-dim;
}


#tray,
#idle_inhibitor,
#language,
#wireplumber,
#battery,
#backlight,
#network,
#power-profiles-daemon,
#clock
{
    background-color: @bg-dim;
    border: 1px solid @border;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: @fg-dim;
    padding: 0em 0.5em;
}

#idle_inhibitor {
    margin-left: 0.5em
}

#battery.discharging {
    color: @magenta-warmer;
}

#battery.critical {
    background-color: @red-warmer;
    /* color: @blue-warmer; */
}


#power-profiles-daemon.performance {
    color: @red-warmer;
}

#power-profiles-daemon.balanced {
    color: @blue-warmer;
}

#power-profiles-daemon.power-saver {
    color: @green-warmer;
}

#battery.charging{
    color: @green-warmer;
}

#clock
{
    color: @yellow-warmer;
}

#language.gr,
#language.GR
{
    /* background-color: @bg-mode-line-active; */
    color: @blue-warmer;
}

#language.us,
#language.US
{
    /* background-color: @bg-mode-line-active; */
    color: @red-warmer;
}



#idle_inhibitor.activated {
    color: @red-warmer;
}

#idle_inhibitor.deactivated {
    color: @green-warmer;
}

#wireplumber.muted {
    color: @red-warmer;
}

#submap {
    border: 1px solid @blue;
    margin: 0.5em;
    padding: 0em 0.5em;
    background-color: @bg-inactive;
    color: @fg-alt;
}
